
@*@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<div>
    <h2>You're Not Authorized to view this Page'</h2>
</div>
<div>
    <button class="btn-default">
        @Html.ActionLink("Back", "Index", "Category", new { area = "" }, new { @class = "navbar-brand" })
    </button>
</div>*@
